<h4>Items</h4>
<hr>
<div class="container">
  <div id="itemList" class="mt-4">
    <div class="card">
      <div class="card-header clearfix">
        <h4 class="float-start">Items List</h4>
        <button class="btn btn-sm btn-primary float-end" (click)="onAddClick()"> <i class="bi bi-cart-plus"></i> Add New Items</button>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Items</th>
              <th>Vendors</th>
              <th class="text-center">Status</th>
              <th class="text-end">Default Amount</th>
              <td class="text-end"><button class="btn btn-sm btn-primary" (click)="onAddClick()"><i class="bi bi-cart-plus"></i> Add </button></td>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="show.new">
            <tr>
              <td colspan="5">
                <app-item-detail [item]="newItem" [formType]="show.formType" (formRet)="onFormReturn($event)"></app-item-detail>
            </tr>
            </ng-container>
            <tr class="mouse-pointer" *ngFor="let item of itemList">
              <ng-container  *ngIf="!item.tableManagement.isEditing">
                <td class="fw-semibold">{{item.itemName}}</td>
                <td>{{item.idVendorNameString}}</td>
                <td class="text-center"><i class="{{item.active | active}}"></i></td>
                <td class="text-end">{{item.amount | currency}}</td>
                <td class="text-end"><button class="btn btn-sm btn-primary" (click)="onItemSelectClick(item.idItem)"><i class="bi bi-cart"></i></button></td>
              </ng-container>

              <ng-container *ngIf="item.tableManagement.isEditing">
                <td colspan="5">
                <app-item-detail [item]="item" [formType]="show.formType" (formRet)="onFormReturn($event)"></app-item-detail>
              </ng-container>

            </tr>
         </tbody>
         <tfoot>
          <tr>
            <td colspan="3">Total</td>
            <td class="text-end fw-semibold">{{show.total|currency}}</td>
          </tr>
         </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

